.Progressbar {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.StepItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 1.5rem;
        left: -50%;
        z-index: 2;
    } 

    &::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 1.5rem;
        left: 50%;
        z-index: 2;
    }
    
    &-Count {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
        &_isActive, &_isCompleted { 
            color: #FFFFFF;
            font-size: 1.5rem;
            background-color: var(--primary-base-color);
            transition: background 2000ms ease-out;
        }
    }

    &_isActive::before, &_isCompleted::before { 
        border-bottom: 2px solid var(--primary-base-color);
        transition: border 1500ms ease-out;
        z-index: 3;
    }

    &_isCompleted::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid var(--primary-base-color);;
        width: 100%;
        top: 1.5rem;
        left: 50%;
        z-index: 3;
        transition: border 2000ms ease-out;
    }

    &:last-child {
        overflow: hidden;
    }
}  
  

  

